# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules

# testing
/coverage

# build
/dist

# etc
.DS_Store
.env.local
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json
